<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src='/app.js'></script>
    <script src='/bookingCtrl.js'></script>
    <script src='/prettyOrgWrapperControl.js'></script>


    <script src='/picker.js'></script>



    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap-daterangepicker/daterangepicker.css"/>


    <link rel="stylesheet" type="text/css" href="/style.css">


  </head>

  <body ng-app='orgs'  >
    <div  class='organization' ng-controller='orgWrapperCtrl'>
      <h1>{{org.ownerName}}</h1>
      <div>

        <div class='accomodations'>
          <h2>Accomodations</h2>
          <div ng-repeat='acc in org.accomodations'>
            {{acc.name}} : ${{acc.price}} / night, sleeps {{acc.numBeds}}
            <div>
              <p ng-click='showCal = !showCal'>{{formMessage}}</p>
              <form ng-controller='bookingCtrl'>
                    <input  type="text" name="daterange" id='daterange' ng-model='rental.date'>
                    <div>{{data.date}}</div>
                    <input type="text" name="email"  placeholder="Email" ng-model='rental.email'>

                    <input type="submit" value="New Rental" ng-click='submitThis($event, acc)'>
              </form>

            </div>

          </div>

        </div>

      </div>
    </div>
  </body>
</html>
